/* Define custom colors */
:root {
    --background-color: #F8F4E1;
    --primary-color: #543310;
    --secondary-color: #74512D;
    --accent-color: #AF8F6F;
}

/* Global Styles */
body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Adjust as needed */
    max-width: 900px; /* Adjust as needed */
}

.login-form-container {
    width: 300px; /* Adjust as needed */
}

.login-form-container h2, p{
    color: #444;
    text-align: center;
}

.login-image {
    width: 60%; /* Adjust as needed */
    max-width: 500px; /* Adjust as needed */
    height: auto;
}

.form-group {
    margin-bottom: 20px; /* Increase margin for better spacing */
    text-align: left;
}

.form-group label {
    display: inline-block; /* Change to inline-block to align checkbox and label horizontally */
    margin-bottom: 5px;
    color: var(--primary-color);
}

.form-group input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--primary-color); /* Use primary color for checkbox border */
    border-radius: 3px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.form-group input[type="checkbox"]:checked::before {
    content: '✔';
    position: absolute;
    top: -1px;
    left: 2px;
    color: var(--primary-color); /* Use primary color for checkmark */
}

.form-group input {
    width: 100%;
    padding: 10px; /* Increase padding for better input appearance */
    box-sizing: border-box;
    border: 1px solid #ccc; /* Add border for input fields */
    border-radius: 4px; /* Add border radius for rounded corners */
    transition: border-color 0.3s ease; /* Smooth transition for input border color */
}

.form-group input:focus {
    outline: none; /* Remove default focus outline */
    border-color: var(--primary-color); /* Change border color on focus */
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color); /* Match the landing page primary color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for button background color */
}

button:hover {
    background-color: var(--secondary-color); /* Match the landing page secondary color */
}

.error-message {
    color: red;
    margin-top: 15px;
}

a {
    color: var(--primary-color); /* Match the landing page primary color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login-image {
    max-width: 100%; /* Ensure image is responsive */
    height: auto; /* Maintain aspect ratio */
}
