* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
  font-weight: bolder;
  font-size: larger;
}

#humberger {
  background-color: #543310;
  color: white;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #543310;
}

nav a {
  font-size: 1.8em;
  text-decoration: none;
}

.text-justify {
  text-align: justify;
}

.content-image {
  max-width: 50%;
}

.content-text {
  flex: 1;
}

.btnc-4 {
  background-color: #543310;
  color: white;
}

.shadow-bottom {
  box-shadow: 0 4px 2px -2px gray;
}

.btn-masuk {
  border: 2px solid #543310;
}

li {
  margin-right: 1.4em;
}

.bgc-1 {
  background-color: #f8f4e1;
}

.jumbotron {
  background-color: #f8f9fa;
  padding: 4rem 2rem;
}

.jumbotron .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jumbotron-text {
  flex: 1;
}

.jumbotron-image {
  flex: 1;
  max-width: 50%; /* Adjust the max-width as needed */
}

.jumbotron-image img {
  max-width: 100%;
  height: auto;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.card-title {
  font-weight: bold;
}

footer {
  background-color: #74512D;
}

footer a {
  margin: 0;
  text-decoration: none;
}
